<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
  <style>
    #errors {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 85%);
      color: white;
      font-family: monospace;
      font-size: 1.1rem;
      padding: 2rem;
      box-sizing: border-box;
    }

    #errors h2 {
      font-weight: normal;
      margin-top: 0;
    }

    #errors .file-path {
      text-decoration: underline;
    }

    #errors .errors {
      display: grid;
      gap: 1rem;
    }

    #errors .error {
      display: grid;
      gap: .2rem;
    }

    #errors .errors-messages {
      margin-left: 1rem;
    }

    #errors .error-text {
      color: rgb(230, 79, 77);
    }

    #errors .warning-text {
      color: rgb(165, 138, 13);
    }

    #errors .muted-text {
      color: rgb(130 130 130);
    }
  </style>
</head>
<body>
<div id="root"></div>
{{#if errors}}
  {{#with errors}}
    <div id="errors">
      <h2>Compiled with problems:</h2>
      <div class="errors">
        {{#each eslint}}
          {{#with this}}
            <div class="error">
              <div class="file-path">{{filePath}}</div>
              <div class="errors-messages">
                {{#each messages}}
                  {{#with this}}
                    <div>
                      <span class="muted-text">{{line}}:{{column}}</span>
                      {{#switch severity}}
                        {{#case 1}}<span class="warning-text">warning</span>{{/case}}
                        {{#case 2}}<span class="error-text">error</span>{{/case}}
                      {{/switch}}
                      <span>{{message}}</span>
                      <span class="muted-text">{{ruleId}}</span>
                    </div>
                  {{/with}}
                {{/each}}
              </div>
            </div>
          {{/with}}
        {{/each}}
      </div>
    </div>
  {{/with}}
{{/if}}
<script src="{{pathToScript}}"></script>
</body>
</html>
